{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<div class="container info">
    <h1 class="text-center p-5">Mentions légales</h1>
    <div class="mention">
    
        <h2>BSM L'Aiguiz'Eure</h2>
        <p></p>
        <p>389 715 400 R.C.S. Evreux</p>
        <p>Code APE 3311Z</p>
        
        <p>Siège social : 30 rue de Pacy - 27600 GAILLON</p><br>
    </div>
    <div class="hebergement">
        <h2>Hébergeur</h2>
        <p>Le présent site web est hébergé par :<br>

OVH <br>
Siège social : 2 rue Kellermann – 59100 Roubaix, France <br>
Tél. +33 (0)8 99 70 17 61</p>
    </div>
    <div class="cgu">
        <h2 class="text-center p-5">Conditions Générales d'Utilisation</h2>
        <p>Préambule<br>

Les présentes Conditions Générales d'Utilisation (ci-après "CGU") régissent l'accès et l'utilisation du site BSM L'Aiguiz'Eure,
 édité par BSM L'Aiguiz'Eure, dont le siège social est situé 30 rue de Pacy 27600 GAILLON. 
 L'utilisateur reconnaît avoir pris connaissance des CGU et s'engage à les respecter.<br><br>

Article 1 – Définitions<br>

Site : désigne le site internet accessible à l'adresse [URL du site].<br>
Utilisateur : toute personne accédant et naviguant sur le Site, à quelque titre que ce soit.<br>
Contenu : désigne l'ensemble des éléments présents sur le Site (textes, images, vidéos, logos, etc.).<br><br>

 

Article 2 – Objet<br>

Les présentes CGU ont pour objet de définir les conditions dans lesquelles les utilisateurs peuvent accéder au Site et l'utiliser. 
En accédant au Site, l'utilisateur accepte sans réserve les présentes CGU.<br><br>

 

Article 3 – Accès au site<br>

L'accès au Site est ouvert à tout utilisateur disposant d'une connexion Internet. 
Le site est accessible gratuitement, hors coûts de connexion et d'abonnement à Internet. 
Certaines sections du site peuvent toutefois être réservées aux utilisateurs enregistrés.<br><br>

 

Article 4 – Propriété intellectuelle<br>

Le contenu du site (textes, images, logos, etc.) est protégé par les lois en vigueur relatives à la propriété intellectuelle et aux droits d'auteur. 
Toute reproduction, représentation, modification, ou adaptation, totale ou partielle du contenu, sans l'autorisation écrite préalable de BSM L'Aiguiz'Eure, 
est interdite et constitue une contrefaçon.<br><br>

 

Article 5 – Données personnelles<br>

Le site peut recueillir des données personnelles telles que le nom, l'adresse e-mail, etc. 
Conformément à la réglementation en vigueur (RGPD), l'utilisateur dispose d'un droit d'accès, de rectification et de suppression de ses données personnelles. 
<br><br>

 

Article 6 – Responsabilité<br>

L'utilisation du Site se fait sous la seule responsabilité de l'utilisateur. 
BSM L'Aiguiz'Eure ne saurait être tenu responsable de tout dommage direct ou indirect, y compris pertes de données ou de profit, 
résultant de l'accès ou de l'utilisation du Site.<br><br>

 

Article 7 – Liens hypertextes<br>

Le site peut contenir des liens vers d'autres sites internet. 
BSM L'Aiguiz'Eure n'exerce aucun contrôle sur le contenu de ces sites et ne saurait être tenu responsable de leur disponibilité ou de leur contenu.<br><br>

 

Article 8 – Modification des CGU<br>

BSM L'Aiguiz'Eure se réserve le droit de modifier à tout moment les présentes CGU. 
Les utilisateurs sont invités à les consulter régulièrement. Les modifications prennent effet à compter de leur publication sur le Site.<br><br>

 

Article 9 – Loi applicable<br>

Les présentes CGU sont régies par la loi française. 
En cas de litige, et après tentative de résolution amiable, les tribunaux d'Evreux seront compétents.<br><br>

 

Article 10 – Contact<br>

Pour toute question relative aux présentes CGU, vous pouvez contacter BSM L'Aiguiz'Eure à l'adresse suivante : laiguizeure.bsm27@gmail.com.</p>

    </div>
    
</div>
{% endblock %}
