{% extends 'base.html.twig' %}

{% block title %}Protection des données {% endblock %}

{% block body %}
<div class="conf">
    <h1 class="text-center p-5">Politique de confidentialité</h1>
    <p>Cette politique de confidentialité a pour objectif de vous expliquer pourquoi nous recueillons vos données et comment nous nous engageons à les protéger.<br><br>

        BSM L'Aiguiz'Eure s’engage en faveur de la protection de vos données personnelles et de votre vie privé.<br><br>

        À ce titre, et en application du Règlement Général de Protection des Données (ci-après dénommé « RGPD »), 
        nous vous communiquons ci-après les conditions dans lesquelles vos données personnelles sont appelées à être traitées par nos soins. <br> <br>
    </p>
    <h2 class="p5">Quelles données personnelles traitons-nous ?</h2><br> <br>
    <h4>Finalités :</h3><br>
    <p>Nous sommes susceptibles de recueillir et de conserver vos données à caractère personnel, notamment pour : <br>

Traiter et répondre à vos messages, Rédigez un avis/commentaire publié sur le site, Gérer le bon fonctionnement et la personnalisation des services, 
Détection d’attaques et recourt contentieux contre la fraude, Mémoriser vos choix quant à l’utilisation des cookies, 
Traiter et répondre à vos demandes d’exercice de droits, Pour répondre aux exigences réglementaires en vigueur ou en cours d’adoption</p> <br><br>
<h4>Catégories des données :</h4> <br>
<p>Des coordonnées (par exemple nom, prénom, numéro de téléphone, email) ;</p> <br>

<h2>Fondement juridiques des traitements</h2><br><br>
<p>Les traitements de données à caractère personnel mis en œuvre sont fondés : <br>
<ul>
    <li>Soit sur le consentement de la personne concernée (Article 6.1.a du RGPD) pour tous les traitements qui nécessitent le recueil préalable du consentement. 
        Dans les formulaires en ligne, les champs obligatoires sont marqués d’un astérisque. A défaut de réponse aux questions obligatoires, 
        nous ne serons pas en mesure de vous fournir les services demandés.</li>
    <li>Soit pour l’exécution d’un contrat ou l’exécution de mesures précontractuelles,</li>
    <li>Soit pour la poursuite d’un intérêt légitime (Article 6.1.e du RGPD).</li>
    <li>Soit pour le respect d’une obligation légale ou règlementaire ;</li>
</ul>

Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus. <br>

La durée de conservation des données personnelles des Clients dépend de la finalité concernée. Dans ce cadre, les données personnelles des Clients sont conservées 
le temps nécessaire à l’accomplissement de leur requête. <br> 
A défaut d’une quelconque réalisation, les données personnelles sont supprimées dans les délais recommandés 
par la Commission Nationale Informatique et Libertés (CNIL), au terme d’un délai de trois ans à compter de leur collecte, sous réserve : <br>
– des possibilités et obligations légales en matière d’archivage, <br>
– des obligations de conservation de certaines données, à des fins probatoires, et/ou d’anonymisation de
celles-ci. <br>
Les données personnelles du Client collectées et traitées, pour les besoins d’exécution des offres, sont conservées
pour la durée nécessaire à la gestion de la relation contractuelle.
Par dérogation, les données personnelles requises pour à l’établissement de la preuve d’un droit ou d’un contrat sont archivées conformément 
aux dispositions légales (5 ou 10 ans après la fin de la relation commerciale selon le cas).</p> <br><br>
<h2>Quels sont les destinataires de vos données ?</h2> <br><br>
<p>Vos données personnelles sont destinées à BSM L'Aiguiz'Eure. <br><br>

Nos services internes : Elles sont traitées par le personnel de nos différents services tel que le service commercial ou le service en charge de la 
sécurité informatique. <br><br>



Nous devons parfois permettre à nos partenaires de traiter, en notre nom, les informations personnelles que nous détenons sur vous aux fins 
énoncées dans cette politique ou pour toute autre raison requise par la loi. <br><br>

Les données personnelles des Clients collectées sont hébergées en France. <br><br>

Dans le cas du recours à un prestataire situé en dehors de l’Union européenne, nous nous engageons à vérifier que des mesures appropriées ont 
été mises en place afin que les données personnelles bénéficient d’un niveau de protection adéquat.</p> <br> <br>

<h2>Comment BSM L'Aiguiz'Eure préserve la sécurité de vos données ?</h2> <br><br>
<p>Nous mettons en place toutes les mesures organisationnelles et techniques permettant d’assurer un niveau approprié de sécurité à vos données personnelles, 
    et notamment d'éviter toute perte de confidentialité, d'intégrité ou d’accessibilité. <br><br>

Nous effectuons fréquemment la sauvegarde des données, Met en place des mesures techniques et organisationnelles pour assurer que la conservation des 
données personnelles des Clients est sécurisée et ce, pendant la durée nécessaire à l’exercice des finalités poursuivies. ; - Formation RGPD de nos équipes</p> <br><br>

<h2>Quels sont vos droits sur vos données personnelles ?</h2> <br><br>
<p>Conformément à la Réglementation Applicable, vous disposez des droits suivants : <br>
<strong>Un droit de rectification</strong> : vous avez le droit d’obtenir la rectification des données inexactes vous concernant. 
Vous avez également le droit de compléter les données incomplètes vous concernant, en fournissant une déclaration complémentaire. 
En cas d’exercice de ce droit, nous nous engageons à communiquer toute rectification à l’ensemble des destinataires de vos données, <br>
<strong>Un droit d’effacement</strong> : dans certains cas, vous avez le droit d’obtenir l’effacement de vos données. Cependant, ceci n’est pas un droit absolu et 
nous pouvons pour des raisons légales ou légitimes conserver ces données. <br>
<strong>Un droit à la limitation du traitement</strong> : dans certains cas, vous avez le droit d’obtenir la limitation du traitement sur vos données, <br>
<strong>Un droit à la portabilité des données</strong> : vous avez le droit de recevoir vos données que vous nous avez fournies, dans un format structuré, couramment 
utilisé et lisible par une machine, pour votre usage personnel ou pour les transmettre à un tiers de votre choix. Ce droit ne s’applique que lorsque le 
traitement de vos données est basé sur votre consentement, sur un contrat ou que ce traitement est effectué par des moyens automatisés, <br>
<strong>Un droit d’opposition au traitement</strong> : vous avez le droit de vous opposer à tout moment au traitement de vos données pour les traitements basés 
sur notre intérêt légitime, une mission d’intérêt public et ceux à des fins de prospection commerciale. Ceci n’est pas un droit absolu et nous 
pouvons pour des raisons légales ou légitimes refuser votre demande d’opposition, <br>
<strong>Le droit de retirer votre consentement à tout moment</strong> : vous pouvez retirer votre consentement au traitement de vos données lorsque 
le traitement est basé sur votre consentement. Le retrait du consentement ne compromet pas la licéité du traitement fondé sur le consentement 
effectué avant ce retrait, <br>
<strong>Le droit de déposer une plainte auprès d’une autorité de contrôle</strong> : vous avez le droit de contacter votre autorité de protection des données 
pour vous plaindre de nos pratiques de protection des données personnelles, <br><br>

En application du RGPD, les conditions d’exercice de ces droits peuvent varier selon la base de licéité du traitement mentionné dans le premier paragraphe. <br>
Nous donnerons suite à tout exercice de droit dans les meilleurs délais et en tout état de cause dans un délai de 30 jours à compter de la réception de la demande. <br><br>

Nous nous réservons le droit : <br><br>

<ul>
    <li>De demander une preuve de l’identité du demandeur en cas de doute raisonnable sur cette dernière et ce afin de respecter son obligation de confidentialité,</li>
    <li>De prolonger le délai de réponse de deux mois, informant alors le demandeur de cette prolongation et des motifs du report dans un délai d'un mois à compter de la 
réception de la demande,</li>
    <li>De refuser de répondre à un exercice de droit si celui-ci était considéré comme abusif (au vu de leur nombre, de leur caractère répétitif ou systématique).</li>
</ul>
</p> <br>

<h3>Qui contacter pour toutes les demandes liées au RGPD ?</h3> <br><br>
<p>Pour exercer vos droits, vous pouvez nous contacter : <br><br>

BSM L'Aiguiz'Eure <br><br>

SAS au capital de XXX euros.
Immatriculée au Registre du commerce et des sociétés de XXX sous le numéro SIRET.
Adresse :
Téléphone :
Directeur de la publication : <br>

Si, en dépit de nos efforts et de nos engagements, vous estimiez que vos droits concernant vos données personnelles n’étaient pas respectés, 
vous pouvez adresser une réclamation auprès de la Commission Nationale Informatique et Libertés : CNIL 3 Place de Fontenoy TSA 80715 75334 Paris Cedex 07</p> <br><br>
<h3>Réserve de modification de la Politique de protection des données</h3> <br><br>
<p>La présente Politique de protection des données personnelles peut être amenée à évoluer. Elles ont été élaborées à partir d'un modèle libre qui peut être 
    téléchargé sur le site <a style="color:black" href="https://donnees.net/">donnees.net</a>. Comme nous développons constamment nos services, nous nous réservons le droit de modifier 
    cette Politique de confidentialité, conformément aux dispositions légales en vigueur. 
    Toute modification est publiée sur ce document en temps opportun. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance 
    des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité.</p>
</div>
{% endblock %}
