{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

<div class="container contacter">
        
    <h4 class="text-center">Nous contacter</h4>
        
        {{ form_start(contact) }}
        {{ form_rest(contact) }}
        <div class="container">   
                <button type="submit" class="btn btn-primary btnContact">Envoyer</button>
        </div>           
        {{ form_end(contact) }}

            
        
</div>


{% endblock %}
